/** Container of Event Image & Informations **/
.events-container {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0px 0px 60px 0px;
}


/** Event Image **/
.events-image {
    flex: 40%;
    margin: 40px 40px 0px 0px;
}

.events-image p {
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 16px;
}

/** Event Title & Informations **/
.events-text {
    flex: 60%;
}

.events-text h3 {
    padding: 30px 0px 0px 0px;
    text-align: left;
    font-size: 32px;
    
}

.events-text h4 {
    text-align: left;
    font-size: 20px;
    font-style: italic;
    color: #81256c;
}

.events-text p {
    padding: 10px 0px 0px 0px;
    text-align: left;
    font-size: 16px;
}

/** More Details Button **/

.more-details {
    justify-content: center;
    display: flex;
    padding-top: 0px;
    padding-bottom: 60px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.more-details a {
    width: 200px;
    font-size: 17px;
    padding: 20px 0px;
    background-color: #81256c;
    color: #fff;
    display: inline-block;
    line-height: 20px;
    border-radius: 30px;
    text-align: center;
}

.more-details a:hover {
    background-color:  #000;
}

/** Events Line Separator **/
hr.solid {
    border-top: 2px solid #81256c;
  }

/** Some adjustments to when screen size width goes below 1200px**/
@media screen and (max-width: 1200px) {
    .more-details {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .events-image {
        flex: 40%;
        padding-top: 60px;
    }
}
/** Some adjustments to when screen size width goes below 1000px for mobile **/
@media screen and (max-width: 1000px) {
    .events-container {
        flex-direction: column;
        padding: 30px 0px 0px 0px;
    }
    .events-text h3 {
        text-align: center;
    }
    .events-text h4 {
        text-align: center;
    }
    .events-text p {
        text-align: center;
        padding: 10px 0px 0px 0px;
    }
    .events-image {
        padding: 0px 0px 0px 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .more-details {
        padding: 30px 0px 30px 0px;
        position: static;
    }
}